*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* my custom properties */
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-greenDark: #2d3522;
  --clr-greenLight: #74795b;
  --clr-beigeDark: #bba766;
  --clr-beigeLight: #fff1c2;
  --clr-accent: #ff7f43;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  /* box-shadow */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15),
    0.17em 0.17em 0.2em rgba(0, 0, 0, 0.1),
    0.1em 0.1em 0.15em rgba(0, 0, 0, 0.08),
    0.08em 0.08em 0.12em rgba(0, 0, 0, 0.05),
    0.05em 0.05em 0.09em rgba(0, 0, 0, 0.02),
    0.04em 0.04em 0.05em rgba(0, 0, 0, 0.01);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: var(--clr-greenLight);
  color: var(--clr-accent);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.7em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.App {
  text-align: center;
}

.container {
  position: relative;
}

/* the home */

.home__background {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: -10%;
}

.home__green, .home__white {
  width: 50%;
  min-height: 100%;
}

.home__green {
  background-color: var(--clr-greenLight);
}

.home__white {
  background-color: #ffffff;
}

.home__sloagan {
  margin: 1em 0;
  color: var(--clr-beigeLight);
  font-size: var(--fs-h1);
  margin-left: -50%;
  padding: 1em;
  display: block;
  position: relative;
}

.home__blurb {
  color: var(--clr-greenDark);
  font-size: var(--fs-h3);
  margin-left: 50%;
  padding: 3em;
  display: block;
  position: relative;
}

.home__img {
  box-shadow: var(--bs);
  margin: 0 auto;
  width: 40%;
  height: 40%;
}

@media (min-width: 1500px) {
  .home__img {
    width: 25%;
    height: 25%;
  }
}

@media (max-width: 800px) {
  .home__sloagan {
    color: var(--clr-greenDark);
    margin: 0.7em 0;
    font-size: var(--fs-h2);
    text-align: center;
    padding: 1em;
  }

  .home__img {
    box-shadow: var(--bs);
    margin: 0 auto;
    width: 50%;
    height: 50%;
  }

  .home__blurb {
    text-align: center;
    margin-left: 0;
    padding: 1.2em 1.5em;
    color: var(--clr-greenDark);
  }
} 

/* the about */
.about__background {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: -10%;
}

.about__beige, .about__white {
  width: 50%;
  min-height: 100%;
}

.about__white {
  background-color: #fefdfb;
}

.about__beige {
  background-color: var(--clr-beigeLight);
}

/* portfolio */
.about__items {
  padding: 5em;
  z-index: 2;
  display: grid;
  height: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.about__item {
  /* background: var(--clr-accent); */
  display: flex;
  color: var(--clr-greenDark);
  /* border: 3px solid red; */
  align-items: center;
  justify-content: center;
}

.about__item.about__blurb {
  grid-row: span 2;
  grid-column: span 2;
  background-color: var(--clr-beigeLight);
}

.about__item.about__img1 {
  grid-column: span 3;
  grid-row: span 5;
}

.about__img2 img {
  width: 210px;
  height: 210px;
  box-shadow: var(--bs);
}

.about__img1 img {
  min-width: 100%;
  max-height: 100%;
  box-shadow: var(--bs);
}

.about__title {
  transform: rotate(-90deg);
}

.about__blurb p {
  padding: 0 1.7em;
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 800px) {
  .about__img1 img {
    min-width: 100%;
    max-height: 60%;
    box-shadow: var(--bs);
  }
}

@media (max-width: 700px) {
  .about__items {
    padding: 2em ;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .about__item.about__blurb {
    background-color: var(--clr-greenLight);
    color: var(--clr-beigeLight)
  }
  .about__img1 {
    display: none;
  }
  .about__blurb h1 {
    font-size: var(--fs-h3);
  }
  .about__title {
    transform: none;
    font-size: var(--fs-h1);
    line-height: 1em;
  }
}

/* the footer */
.footer {
  z-index: 2;
  color: var(--clr-greenDark);
  width: 100%;
  padding: 1em;
  margin-top: auto;
  bottom: 0;
}

/* need media query here stick footer to bottom 
of page when the window width is small */
