*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* my custom properties */
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-greenDark: #2d3522;
  --clr-greenLight: #74795b;
  --clr-beigeDark: #bba766;
  --clr-beigeLight: #fff1c2;
  --clr-accent: #ff7f43;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-bodySmall: 0.85rem;

  /* box-shadow */
  --bs:  0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15),
    0.17em 0.17em 0.2em rgba(0, 0, 0, 0.1),
    0.1em 0.1em 0.15em rgba(0, 0, 0, 0.08),
    0.08em 0.08em 0.12em rgba(0, 0, 0, 0.05),
    0.05em 0.05em 0.09em rgba(0, 0, 0, 0.02),
    0.04em 0.04em 0.05em rgba(0, 0, 0, 0.01);

  --bs-nav: -0.5em 0em 1em rgba(0, 0, 0, 0.25),
  -0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15),
  -0.17em 0.17em 0.2em rgba(0, 0, 0, 0.1),
  -0.1em 0.1em 0.15em rgba(0, 0, 0, 0.08),
  -0.08em 0.08em 0.12em rgba(0, 0, 0, 0.05),
  -0.05em 0.05em 0.09em rgba(0, 0, 0, 0.02),
  -0.04em 0.04em 0.05em rgba(0, 0, 0, 0.01);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: var(--clr-greenLight);
  color: var(--clr-accent);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.7em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.App {
  text-align: center;
}

.container {
  position: relative;
}

/* the nav */
.nav__conatiner {
  position: fixed;
  background-color: var(--clr-greenDark);
  color: var(--clr-beigeLight);
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  z-index: 90;
  box-shadow: var(--bs-nav);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__toggle {
  z-index: 100;
  border: 0;
  position: absolute;
  cursor: pointer;
  right: 1em;
  top: 1em;
  background: transparent; 
  padding: 0.5em;
  outline: none;
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__item {
  font-size: var(--fs-h1);
}

.nav__link {
  color: var(--clr-beigeDark);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-beigeLight);
}

/* the hamburger */
.hamburger {
  display: block;
  position: relative;
}

.hamburger, .hamburger::before, .hamburger::after {
  background: var(--clr-greenDark);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

/* the nav when opened */
.nav:focus {
  display: none;
  opacity: 0;
}

.nav__open .nav {
  transform: translateX(0);
}

.nav__open.nav__toggle {
  position: fixed;
  background-color: transparent;
  outline: none;
}

.nav__open .hamburger, .nav__open .hamburger::before, .nav__open .hamburger::after {
  background: var(--clr-beigeLight);
}

.nav__open .hamburger {
  transform: rotate(0.625turn);
  transition: rotate 550ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  transition: rotate 550ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: translateX 550ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__open .hamburger::after {
  opacity: 0;
}


/* the home */
.home__background {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: -10%;
}

.home__green, .home__white {
  width: 50%;
  min-height: 100%;
}

.home__green {
  background-color: var(--clr-greenLight);
}

.home__white {
  background-color: var(--clr-beigeLight);
}

.home__sloagan {
  margin: 1em 0;
  color: var(--clr-beigeLight);
  font-size: var(--fs-h1);
  margin-left: -50%;
  padding: 1em;
  display: block;
  position: relative;
}

.home__blurb {
  color: var(--clr-greenDark);
  font-size: var(--fs-h3);
  margin-left: 50%;
  padding: 3em;
  display: block;
  position: relative;
}

.home__img {
  box-shadow: var(--bs);
  margin: 0 auto;
  width: 40%;
  height: 40%;
}

@media (min-width: 1500px) {
  .home__img {
    width: 25%;
    height: 25%;
  }
}

@media (max-width: 800px) {
  .home__sloagan {
    color: var(--clr-greenDark);
    margin: 0.7em 0;
    font-size: var(--fs-h2);
    text-align: center;
    padding: 1em;
  }

  .home__img {
    box-shadow: var(--bs);
    margin: 0 auto;
    width: 50%;
    height: 50%;
  }

  .home__blurb {
    text-align: center;
    margin-left: 0;
    padding: 1.2em 1.5em;
    color: var(--clr-greenDark);
  }
} 

/* the about */
.about__background {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: -10%;
}

.about__beige, .about__white {
  width: 50%;
  min-height: 100%;
}

.about__white {
  background-color: #fefdfb;
}

.about__beige {
  background-color: var(--clr-beigeLight);
}

.about__items {
  padding: 5em;
  z-index: 2;
  display: grid;
  height: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.about__item {
  display: flex;
  color: var(--clr-greenDark);
  align-items: center;
  justify-content: center;
}

.about__item.about__blurb {
  grid-row: span 2;
  grid-column: span 2;
  background-color: var(--clr-beigeLight);
}

.about__item.about__img1 {
  grid-column: span 3;
  grid-row: span 5;
}

.about__img2 img {
  width: 210px;
  height: 210px;
  box-shadow: var(--bs);
}

.about__img1 img {
  min-width: 100%;
  max-height: 100%;
  box-shadow: var(--bs);
}

.about__title {
  transform: rotate(-90deg);
}

.about__blurb p {
  padding: 0 1.7em;
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 800px) {
  .about__img1 img {
    min-width: 100%;
    max-height: 60%;
    box-shadow: var(--bs);
  }
}

@media (max-width: 700px) {
  .about__items {
    padding: 2em ;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .about__item.about__blurb {
    background-color: var(--clr-greenLight);
    color: var(--clr-beigeLight)
  }
  .about__img1 {
    display: none;
  }
  .about__blurb h1 {
    font-size: var(--fs-h3);
  }
  .about__title {
    transform: none;
    font-size: var(--fs-h1);
    line-height: 1em;
  }
}

/* the shop page */
.shop {
  background-color: var(--clr-beigeLight);
  /* border: 2px solid red; */
  display: flex;
  height: 100%;
  color: var(--clr-greenDark);
}

.shop__items {
  display: inline;
  /* border: 3px solid blue; */
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.shop__items.shop__left {
  background-color: var(--clr-beigeLight);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.shop__items.shop__right {
  margin: 0 auto;
}

.shop__items img {
  margin: 0 auto;
  width: 100%;
  box-shadow: var(--bs);
  background-color: var(--clr-beigeLight);
}

.shop__right_img {
  /* position: relative; */
  width: calc(100% * 0.6);
}

/* @media (min-height: 1000px) {
  .shop__right_img {
    width: calc(100% * 0.81);
  }
} */

.shop__objectTitle, .shop__comp h3, .shop__comp p, .shop__color h3 {
  text-align: left;
  margin: 0;
}

.shop__comp h3 {
  /* padding-: 5px; */
}

.shop__color {
  display: flex;
  padding: 21px 0 0 0;
}

.shop__colorFormLabel {
  padding-left: 1em !important;
}

.shop__colorFormInput {
  margin-right: 1em !important;
}

.shop__colorFormLabel::after {
  content: '';
  border-radius: 50%;
  padding: 0px 10px;
  background-color: var(--clr-greenDark);
}

.shop__colorFormLabel.colorbeige::after {
  background-color: var(--clr-beigeDark);
}
.shop__colorFormLabel.colorblack::after {
  background-color: #000000;
}

.shop__colorFormLabel.colorgreen::after {
  background-color: var(--clr-greenDark);
}

.shop__mat {
  font-size: var(--fs-bodySmall);
}

.shop__mat::before
{
  content: '';
  margin-right: 0.45em !important;
}

.shop__form {
  display: flex;
}

/* the footer */
.footer {
  z-index: 2;
  color: var(--clr-greenDark);
  width: 100%;
  padding: 1em;
  margin-top: auto;
  bottom: 0;
}

/* need media query here stick footer to bottom 
of page when the window width is small */
